*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    .logo{
        padding: 10px;
        img{
            height: 100%;
        }
    }
    nav{
        display: flex;
        align-items: center;
        .links{
            padding: 15px;
            text-decoration: none;
        }
    }
}

main{
    h1{
        text-align: center;
    }
    .btn-create{
        background-color: #2647ff;
        color:#fff;
    }
    .btn-show{
        background-color: #59e759;
        color:#000;
    }
    .btn-edit{
        background-color: #f0ed45;
        color:#461ce0;
    }
    .btn-cancel{
        background-color: #c40c0c;
        color:#deaa1b;
    }
    .container{
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 50px 0;
        .btn{
            display: inline-block;
            text-decoration: none;
            padding: 5px;
            border-radius: 5px;
        }
        table{
            border-collapse: collapse;
            text-align: left;
            tr:nth-child(2n){
                background: rgb(209, 209, 209);
            }
            td{
                padding: 5px 15px 5px 0px;
            }
        }
        .input{
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            font-size: 20px;
            *{
                font-size: 20px;
            }
        }
        .show{
            width: 40%;
            padding: 20px;
        }
        .show-image{
            text-align: right;
        }
    }
}


