* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
}

header .logo {
  padding: 10px;
}

header .logo img {
  height: 100%;
}

header nav {
  display: flex;
  align-items: center;
}

header nav .links {
  padding: 15px;
  text-decoration: none;
}

main h1 {
  text-align: center;
}

main .btn-create {
  background-color: #2647ff;
  color: #fff;
}

main .btn-show {
  background-color: #59e759;
  color: #000;
}

main .btn-edit {
  background-color: #f0ed45;
  color: #461ce0;
}

main .btn-cancel {
  background-color: #c40c0c;
  color: #deaa1b;
}

main .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

main .container .btn {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

main .container table {
  border-collapse: collapse;
  text-align: left;
}

main .container table tr:nth-child(2n) {
  background: rgb(209, 209, 209);
}

main .container table td {
  padding: 5px 15px 5px 0px;
}

main .container .input {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  font-size: 20px;
}

main .container .input * {
  font-size: 20px;
}

main .container .show {
  width: 40%;
  padding: 20px;
}

main .container .show-image {
  text-align: right;
}

